.hamburger {
    width: rem(30px);
    height: rem(25px);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 300;
    
    @include tablets {
        display: flex;
        position: fixed;
        top: 3%;
        right: 5%;
    }

    &--active {
        .hamburger__plank {
            background: $white;

            
            &:nth-child(1) {
                opacity: 0;
            }
            
            &:nth-child(2) {
                transform: rotate(45deg) translate(2px, 1.5px);

                @include phones {
                    transform: rotate(45deg);
                }
            }
            
            &:nth-child(3) {
                transform: rotate(-45deg) translateX(5px) translateY(-5px);

                @include phones {
                    transform: rotate(-45deg) translateX(5.1px) translateY(-5px);
                }
            }
        }
    }
}

.hamburger__plank {
    background: $black;
    border-radius: 100px;
    height: rem(6px);
    width: 100%;
    transition: ease-in-out .4s;
}