// Font -> Play
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

// Normalize.css
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

// Base colors
$black: #292929;
$red: #E01F3D;
$white: #FFFFFF;
$gray: #999999;
$lightgray: #F1F1F1;
$body: #F5F5F5;

// Base sizes
$containerWidth: 940px;
$baseFontSize: 18px;
$baseZIndex: 1000;

// breakpoints
$tablets: 768px;
$phones: 480px;

// includes
@import './media';
@import './layout';
@import './function';

    // components
@import 'components/**/*';

// some styles

.body--active-menu {
    @include tablets {
        overflow: hidden;
    }
}